@import url(https://fonts.googleapis.com/css?family=Mouse+Memoirs:400,700);
* {
    box-sizing: border-box;
  } /*making all elements to have zero margins, and zero padding, thus making them look the same in all browsers*/
  
html, body {
    margin: 0px;
    font: 16px "Mouse Memoirs";
    background: #ad6932;
  
   
  }
  header {
    text-align: center;
    padding:5px;
    background-image: repeating-linear-gradient(45deg, #5f391c, #5f391c 100px, #865127 100px, #865127 200px);
    color: #f0dccd;
    box-shadow: 0 0 0 0.5em rgba(255, 255, 255, 0.25) inset;
  }
  header > h1 {
    font-size: 90px;
  }
  header>p {
    font-size: 30px;
    font-style: italic;
  }

  .cart-container {
    width: 100%;
    height: 600px;
    display: flex;
  }
 
  .product {
  list-style: none;
    position: relative;
    width: 210px;
    height: 280px;
    float: left;
   
  }

  .product:nth-child(3n+1) {
    background: #E8B0AF;
  }
  .product:nth-child(3n+2) {
    background: #FDDAC4;
  }
.product:nth-child(3n){
    background: #F1D5A5;
  }
  .product-preview {
    padding: 1em;
    height: 280px;
    position: relative;
  }

.image {
    width: 100%;
    margin-top: 16px;
  }
  .product-paper {
    position: absolute;
    height: 75px;
    bottom: 0;
    background: rgba(255, 255, 255, 0.65);
    padding: 1em;
    display: block;
    width: 100%;
    margin-left: -1em;
  }
  .product-name {
    font-size: 1.6em;
    text-align: center;
  }
  .product-price {
    text-align: center;
    font-size: 1.2em;
  }
  .product-quantity {
    font-size: 2em;
    width: 2em;
    height: 2em;
    text-align: center;
    padding: 0.35em 0;
    border-radius: 1em;
    position: absolute;
    top: 8px;
    right: 8px;
    background: #fff;
    transform: rotateZ(8deg);
    
  }
  .product:hover .product-interactions {
    
    transform: rotateX(0deg) ;
   
  }
  .product-interactions {
    position: absolute;
    bottom: 75px;
    width: 100%;
    height: 60px;
    transform-origin: 50% 100% 0;
    transform: rotateX(90deg);
    opacity: 2;
    transition: 0.4s;
  }
  .button {
    width: 33.3%;
    height: 60px;
    float: left;
    text-align: center;
    font-size: 80px;
    line-height: 0.75em;
    background: rgba(255, 255, 255, 0.65);
   cursor: pointer;
    position: relative;
  }
  .button.plus {
    color: #93dd23;
  }
  .button.minus {
    color: #93dd23;
  }
  .button.del {
    color: red;
    font-family: sans-serif;
    font-size: 60px;  
  }
  .button:hover {
    background: rgba(255, 255, 255, 0.5);
  }
  
  .bill {
    margin: 0;
    padding: 1em;
    font-size: 1.4em;
    line-height: 1.6em;
    background: #F1D5A5;
    color: #48320b;
    width: 100%;
  }
  .total {
    font-weight: bold;
    font-size: 1.6em;
  }
  .bill tr td {
    width: 50%;
    padding: 0.25em 20px;
  }
  .label {
    text-align: right;
  }
  
  .actions {
    text-align: center;
    width: 100%;
    height: 6em;
  }
  .return{
    position: absolute;
    cursor: pointer;
    user-select: none;
    padding: 1em;
    width: 100%;
    font-size: 2em;  
  }

  .return:hover {
    background: #6e4322;
  }
  .go {
    position: absolute;
    cursor: pointer;
    user-select: none;
    padding: 1em;
    width: 100%;
    font-size: 1.5em;
    background: #a0ce5a;
    color: #334715;
    font-size: 2em;
  }
  .go:hover {
    background: #7fb034;
  }
 
  .far {
    user-select: none;
    cursor: pointer;
    font-size: 30px;
  }
  